<% content_for :body_content_left do -%>
  <div id="testimonials">
    <%= render :partial => 'testimonial', :collection => @testimonials %>
  </div>
<% end -%>

<%= render '/refinery/content_page' %>
