<% content_for :body_content_left do %>
  <ul id="testimonials">
    <% @testimonials.each do |testimonial| %>
      <li>
        <%= link_to testimonial.title, refinery.testimonials_testimonial_path(testimonial) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
